body {
	background-color: #e0e0e0;
	text-align: center;
}
div.content {
	width: 1000px;
	text-align: left;
	margin: 0px auto;
}
div.content div.header {
	text-align: center;
	font-weight: bold;
	margin-top: -11px;
	-moz-border-radius-bottomleft: 4px;
	-moz-border-radius-bottomright: 4px;
	font-size: 16pt;
	padding: 2px;
}
div.struct, div.navigation, div.header {
	line-height: 1.25em;
	background-color: #f0f0f0;
	margin-bottom: 1em;
	border: 1px solid #fff;
	color: #333;
	-moz-box-shadow: 0px 0px 2px #666;
}
div.header {
	font-family: sans-serif;
	padding: 2px 0px;
}
div.struct, div.navigation {
	font-family: monospace;
	padding: 8px;
	float: left;
	-moz-border-radius: 4px;
}
div.struct {
	float:right;
	width: 730px;
}
div.struct h1 {
	font-size: 14pt;
	border-bottom:1px solid #fff;
	margin:2px auto 0px auto;
	text-align:center;
	width: auto;
	padding-bottom: 0px;
	font-family: sans-serif;
}
div.struct div.variables {
	border-bottom: 1px solid #fff;
	margin-bottom: 0px;
	padding-bottom: 0px;
	margin-top: 8px;
}
div.variable {
	width: 99%;
	clear: both;
}
div.variable span.id {
	font-weight:bold;
	width: 10%;
	float: left;
}
div.variable span.type {
	font-style: italic;
	clear: right;
}
div.methods {
	margin-top: 16px;
}
div.method { 
	width: 100%;
	clear: both;
	border-bottom: 1px solid #fff;
	margin-top: 8px;
	padding-top: 0px;
}
div.method span {
	float: left;
	clear: none;
	display: block;
}
div.method span.type {
	font-style: italic;
	width: 19%;
}
div.method span.name {
	font-weight:bold;
	width: 29%;
}
div.method span.args {
	font-style:italic;
	width: 49%;
}
a {
	color: #585;
	text-decoration: none;
}
a:hover {
	color: #252;
}
div.footer {
	clear: both;
	height: 1px;
	border-bottom: 1px solid #aaa;
}
div.navigation {
	width: 200px;
	margin-right: 16px;
	margin-top: 32px;
	height: auto;
}

div.navigation ul.classes, li {
	padding-left: 1em;
	list-style: none;
}
